.ms-hide
{
display:none;
}

.ms-imnImgTD
{
padding-right:6px;
padding-bottom:0;
padding-left:2px;
}
.ms-imnTxtTD
{
padding-top:0px;
padding-bottom:0px;
}
ms-imnSpan
{
white-space:nowrap;
overflow:hidden;
}
a.ms-imnlink
{
cursor:default;
}
.ms-spimn-presenceLink
{
display:inline-block;
padding:1px 0px 1px 0px;
}
.ms-spimn-presenceWrapper
{
display:inline-block;
white-space:nowrap;
position:relative;
overflow:hidden;
}
.ms-imnImg
{
display:inline-block;
margin-right:6px;
}
.ms-imnImgInline
{
margin-right:3px;
}

.ms-spimn-img
{
position:absolute;
}
.ms-spimn-imgSize-10x10
{
width:10px;
height:10px;
}
.ms-spimn-imgSize-16x16
{
width:16px;
height:16px;
}
.ms-spimn-imgSize-5x36
{
width:5px;
height:36px;
}
.ms-spimn-imgSize-5x48
{
width:5px;
height:48px;
}
.ms-spimn-imgSize-8x72
{
width:8px;
height:72px;
}
.ms-spimn-presence-online-10x10x32
{
left:-208px;
top:-187px;
}
.ms-spimn-presence-online-16x16x32
{
left:-127px;
top:-199px;
}
.ms-spimn-presence-online-5x36x32
{
left:-169px;
top:-115px;
}
.ms-spimn-presence-online-5x48x32
{
left:-36px;
top:-149px;
}
.ms-spimn-presence-online-8x72x32
{
left:-61px;
top:-75px;
}
.ms-spimn-presence-online-10x10x4
{
left:-211px;
top:-199px;
}
.ms-spimn-presence-online-16x16x4
{
left:-145px;
top:-191px;
}
.ms-spimn-presence-online-5x36x4
{
left:-176px;
top:-39px;
}
.ms-spimn-presence-online-5x48x4
{
left:-29px;
top:-149px;
}
.ms-spimn-presence-online-8x72x4
{
left:-81px;
top:-75px;
}
.ms-spimn-presence-online-oof-10x10x32
{
left:-199px;
top:-199px;
}
.ms-spimn-presence-online-oof-16x16x32
{
left:-181px;
top:-199px;
}
.ms-spimn-presence-online-oof-5x36x32
{
left:-169px;
top:-153px;
}
.ms-spimn-presence-online-oof-5x48x32
{
left:-22px;
top:-149px;
}
.ms-spimn-presence-online-oof-8x72x32
{
left:-71px;
top:-75px;
}
.ms-spimn-presence-online-oof-10x10x4
{
left:-220px;
top:-181px;
}
.ms-spimn-presence-online-oof-16x16x4
{
left:-163px;
top:-191px;
}
.ms-spimn-presence-online-oof-5x36x4
{
left:-176px;
top:-1px;
}
.ms-spimn-presence-online-oof-5x48x4
{
left:-15px;
top:-149px;
}
.ms-spimn-presence-online-oof-8x72x4
{
left:-81px;
top:-1px;
}
.ms-spimn-presence-away-10x10x32
{
left:-181px;
top:-217px;
}
.ms-spimn-presence-away-16x16x32
{
left:-215px;
top:-91px;
}
.ms-spimn-presence-away-5x36x32
{
left:-190px;
top:-115px;
}
.ms-spimn-presence-away-5x48x32
{
left:-155px;
top:-51px;
}
.ms-spimn-presence-away-8x72x32
{
left:-131px;
top:-75px;
}
.ms-spimn-presence-away-10x10x4
{
left:-169px;
top:-209px;
}
.ms-spimn-presence-away-16x16x4
{
left:-197px;
top:-19px;
}
.ms-spimn-presence-away-5x36x4
{
left:-155px;
top:-101px;
}
.ms-spimn-presence-away-5x48x4
{
left:-155px;
top:-1px;
}
.ms-spimn-presence-away-8x72x4
{
left:-131px;
top:-1px;
}
.ms-spimn-presence-away-oof-10x10x32
{
left:-215px;
top:-109px;
}
.ms-spimn-presence-away-oof-16x16x32
{
left:-197px;
top:-1px;
}
.ms-spimn-presence-away-oof-5x36x32
{
left:-141px;
top:-151px;
}
.ms-spimn-presence-away-oof-5x48x32
{
left:-134px;
top:-149px;
}
.ms-spimn-presence-away-oof-8x72x32
{
left:-1px;
top:-1px;
}
.ms-spimn-presence-away-oof-10x10x4
{
left:-157px;
top:-209px;
}
.ms-spimn-presence-away-oof-16x16x4
{
left:-197px;
top:-37px;
}
.ms-spimn-presence-away-oof-5x36x4
{
left:-190px;
top:-77px;
}
.ms-spimn-presence-away-oof-5x48x4
{
left:-141px;
top:-1px;
}
.ms-spimn-presence-away-oof-8x72x4
{
left:-11px;
top:-1px;
}
.ms-spimn-presence-blocked-10x10x32
{
left:-145px;
top:-209px;
}
.ms-spimn-presence-blocked-16x16x32
{
left:-197px;
top:-55px;
}
.ms-spimn-presence-blocked-5x36x32
{
left:-155px;
top:-139px;
}
.ms-spimn-presence-blocked-5x48x32
{
left:-127px;
top:-149px;
}
.ms-spimn-presence-blocked-8x72x32
{
left:-121px;
top:-75px;
}
.ms-spimn-presence-blocked-10x10x4
{
left:-215px;
top:-121px;
}
.ms-spimn-presence-blocked-16x16x4
{
left:-197px;
top:-73px;
}
.ms-spimn-presence-blocked-5x36x4
{
left:-190px;
top:-39px;
}
.ms-spimn-presence-blocked-5x48x4
{
left:-120px;
top:-149px;
}
.ms-spimn-presence-blocked-8x72x4
{
left:-21px;
top:-1px;
}
.ms-spimn-presence-blocked-oof-10x10x32
{
left:-133px;
top:-217px;
}
.ms-spimn-presence-blocked-oof-16x16x32
{
left:-215px;
top:-73px;
}
.ms-spimn-presence-blocked-oof-5x36x32
{
left:-148px;
top:-151px;
}
.ms-spimn-presence-blocked-oof-5x48x32
{
left:-113px;
top:-149px;
}
.ms-spimn-presence-blocked-oof-8x72x32
{
left:-31px;
top:-1px;
}
.ms-spimn-presence-blocked-oof-10x10x4
{
left:-121px;
top:-217px;
}
.ms-spimn-presence-blocked-oof-16x16x4
{
left:-197px;
top:-91px;
}
.ms-spimn-presence-blocked-oof-5x36x4
{
left:-190px;
top:-1px;
}
.ms-spimn-presence-blocked-oof-5x48x4
{
left:-141px;
top:-51px;
}
.ms-spimn-presence-blocked-oof-8x72x4
{
left:-121px;
top:-1px;
}
.ms-spimn-presence-busy-10x10x32
{
left:-215px;
top:-133px;
}
.ms-spimn-presence-busy-16x16x32
{
left:-197px;
top:-109px;
}
.ms-spimn-presence-busy-5x36x32
{
left:-162px;
top:-1px;
}
.ms-spimn-presence-busy-5x48x32
{
left:-106px;
top:-149px;
}
.ms-spimn-presence-busy-8x72x32
{
left:-41px;
top:-1px;
}
.ms-spimn-presence-busy-10x10x4
{
left:-109px;
top:-217px;
}
.ms-spimn-presence-busy-16x16x4
{
left:-197px;
top:-127px;
}
.ms-spimn-presence-busy-5x36x4
{
left:-183px;
top:-153px;
}
.ms-spimn-presence-busy-5x48x4
{
left:-148px;
top:-101px;
}
.ms-spimn-presence-busy-8x72x4
{
left:-111px;
top:-75px;
}
.ms-spimn-presence-busy-oof-10x10x32
{
left:-215px;
top:-145px;
}
.ms-spimn-presence-busy-oof-16x16x32
{
left:-215px;
top:-55px;
}
.ms-spimn-presence-busy-oof-5x36x32
{
left:-162px;
top:-39px;
}
.ms-spimn-presence-busy-oof-5x48x32
{
left:-99px;
top:-149px;
}
.ms-spimn-presence-busy-oof-8x72x32
{
left:-51px;
top:-1px;
}
.ms-spimn-presence-busy-oof-10x10x4
{
left:-97px;
top:-217px;
}
.ms-spimn-presence-busy-oof-16x16x4
{
left:-197px;
top:-145px;
}
.ms-spimn-presence-busy-oof-5x36x4
{
left:-183px;
top:-115px;
}
.ms-spimn-presence-busy-oof-5x48x4
{
left:-148px;
top:-1px;
}
.ms-spimn-presence-busy-oof-8x72x4
{
left:-61px;
top:-1px;
}
.ms-spimn-presence-donotdisturb-10x10x32
{
left:-220px;
top:-157px;
}
.ms-spimn-presence-donotdisturb-16x16x32
{
left:-19px;
top:-199px;
}
.ms-spimn-presence-donotdisturb-5x36x32
{
left:-162px;
top:-153px;
}
.ms-spimn-presence-donotdisturb-5x48x32
{
left:-78px;
top:-149px;
}
.ms-spimn-presence-donotdisturb-8x72x32
{
left:-11px;
top:-75px;
}
.ms-spimn-presence-donotdisturb-10x10x4
{
left:-49px;
top:-217px;
}
.ms-spimn-presence-donotdisturb-16x16x4
{
left:-37px;
top:-199px;
}
.ms-spimn-presence-donotdisturb-5x36x4
{
left:-183px;
top:-1px;
}
.ms-spimn-presence-donotdisturb-5x48x4
{
left:-71px;
top:-149px;
}
.ms-spimn-presence-donotdisturb-8x72x4
{
left:-101px;
top:-1px;
}
.ms-spimn-presence-donotdisturb-oof-10x10x32
{
left:-208px;
top:-175px;
}
.ms-spimn-presence-donotdisturb-oof-16x16x32
{
left:-215px;
top:-19px;
}
.ms-spimn-presence-donotdisturb-oof-5x36x32
{
left:-169px;
top:-1px;
}
.ms-spimn-presence-donotdisturb-oof-5x48x32
{
left:-64px;
top:-149px;
}
.ms-spimn-presence-donotdisturb-oof-8x72x32
{
left:-21px;
top:-75px;
}
.ms-spimn-presence-donotdisturb-oof-10x10x4
{
left:-37px;
top:-217px;
}
.ms-spimn-presence-donotdisturb-oof-16x16x4
{
left:-55px;
top:-199px;
}
.ms-spimn-presence-donotdisturb-oof-5x36x4
{
left:-176px;
top:-153px;
}
.ms-spimn-presence-donotdisturb-oof-5x48x4
{
left:-1px;
top:-149px;
}
.ms-spimn-presence-donotdisturb-oof-8x72x4
{
left:-31px;
top:-75px;
}
.ms-spimn-presence-offline-10x10x32
{
left:-25px;
top:-217px;
}
.ms-spimn-presence-offline-16x16x32
{
left:-73px;
top:-199px;
}
.ms-spimn-presence-offline-5x36x32
{
left:-169px;
top:-39px;
}
.ms-spimn-presence-offline-5x48x32
{
left:-57px;
top:-149px;
}
.ms-spimn-presence-offline-8x72x32
{
left:-91px;
top:-75px;
}
.ms-spimn-presence-offline-10x10x4
{
left:-220px;
top:-169px;
}
.ms-spimn-presence-offline-16x16x4
{
left:-91px;
top:-199px;
}
.ms-spimn-presence-offline-5x36x4
{
left:-176px;
top:-115px;
}
.ms-spimn-presence-offline-5x48x4
{
left:-50px;
top:-149px;
}
.ms-spimn-presence-offline-8x72x4
{
left:-41px;
top:-75px;
}
.ms-spimn-presence-offline-oof-10x10x32
{
left:-13px;
top:-217px;
}
.ms-spimn-presence-offline-oof-16x16x32
{
left:-215px;
top:-1px;
}
.ms-spimn-presence-offline-oof-5x36x32
{
left:-169px;
top:-77px;
}
.ms-spimn-presence-offline-oof-5x48x32
{
left:-43px;
top:-149px;
}
.ms-spimn-presence-offline-oof-8x72x32
{
left:-51px;
top:-75px;
}
.ms-spimn-presence-offline-oof-10x10x4
{
left:-1px;
top:-217px;
}
.ms-spimn-presence-offline-oof-16x16x4
{
left:-109px;
top:-199px;
}
.ms-spimn-presence-offline-oof-5x36x4
{
left:-176px;
top:-77px;
}
.ms-spimn-presence-offline-oof-5x48x4
{
left:-8px;
top:-149px;
}
.ms-spimn-presence-offline-oof-8x72x4
{
left:-91px;
top:-1px;
}
.ms-spimn-presence-disconnected-10x10x32
{
left:-85px;
top:-217px;
}
.ms-spimn-presence-disconnected-16x16x32
{
left:-190px;
top:-163px;
}
.ms-spimn-presence-disconnected-5x36x32
{
left:-162px;
top:-77px;
}
.ms-spimn-presence-disconnected-5x48x32
{
left:-141px;
top:-101px;
}
.ms-spimn-presence-disconnected-8x72x32
{
left:-111px;
top:-1px;
}
.ms-spimn-presence-disconnected-10x10x4
{
left:-208px;
top:-163px;
}
.ms-spimn-presence-disconnected-16x16x4
{
left:-190px;
top:-181px;
}
.ms-spimn-presence-disconnected-5x36x4
{
left:-183px;
top:-77px;
}
.ms-spimn-presence-disconnected-5x48x4
{
left:-92px;
top:-149px;
}
.ms-spimn-presence-disconnected-8x72x4
{
left:-71px;
top:-1px;
}
.ms-spimn-presence-disconnected-oof-10x10x32
{
left:-73px;
top:-217px;
}
.ms-spimn-presence-disconnected-oof-16x16x32
{
left:-215px;
top:-37px;
}
.ms-spimn-presence-disconnected-oof-5x36x32
{
left:-162px;
top:-115px;
}
.ms-spimn-presence-disconnected-oof-5x48x32
{
left:-85px;
top:-149px;
}
.ms-spimn-presence-disconnected-oof-8x72x32
{
left:-1px;
top:-75px;
}
.ms-spimn-presence-disconnected-oof-10x10x4
{
left:-61px;
top:-217px;
}
.ms-spimn-presence-disconnected-oof-16x16x4
{
left:-1px;
top:-199px;
}
.ms-spimn-presence-disconnected-oof-5x36x4
{
left:-183px;
top:-39px;
}
.ms-spimn-presence-disconnected-oof-5x48x4
{
left:-148px;
top:-51px;
}
.ms-spimn-presence-disconnected-oof-8x72x4
{
left:-101px;
top:-75px;
}