
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page inaccessible</title>
</head>
<body>
    <fieldset style="border: 1px solid #ddd;padding-left:10px;padding-right:10px;width:100%;">
        <legend style="margin-top:20px;width:auto; padding:0 10px; border-bottom:none;font-size:18px;">Page inaccessible</legend>
        <div align="center" style="margin:15px;font-size:14px;">
            <p>Vous ne disposez pas des droits nécessaires pour accéder à cette page.</p><br />
            <img src="~/resources/img/forbidden.jpg" alt="Access forbidden" style="width:100px;height:100px;"><br /><br />
        </div>
    </fieldset>
</body>
</html>
