
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body id="body">
    <h1 class="error">Erreur.</h1>
    <h2 class="error">Une erreur s’est produite lors du traitement de la requête.</h2>
    @{
        if (!String.IsNullOrEmpty(ViewBag.typeErreur))
        {
            <h1>@ViewBag.typeErreur</h1>
        }


    } 
</body>
</html>