<script type="text/javascript">

    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "formatted-num-pre": function (a) {
            a = (a === "Non Renseigné" || a === "") ? 0 : a.replace(/[^\d\-\.]/g, "");
            return parseFloat(a);
        },

        "formatted-num-asc": function (a, b) {
            return a - b;
        },

        "formatted-num-desc": function (a, b) {
            return b - a;
        }
    });

    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "date-eu-pre": function (date) {
            date = date.replace(" ", "");

            if (!date) {
                return 0;
            }

            var year;
            var eu_date = date.split(/[\.\-\/]/);

            /*year (optional)*/
            if (eu_date[2]) {
                year = eu_date[2];
            }
            else {
                year = 0;
            }

            /*month*/
            var month = eu_date[1];
            if (month.length == 1) {
                month = 0 + month;
            }

            /*day*/
            var day = eu_date[0];
            if (day.length == 1) {
                day = 0 + day;
            }

            return (year + month + day) * 1;
        },

        "date-eu-asc": function (a, b) {
            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        },

        "date-eu-desc": function (a, b) {
            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
        }
    });

    $(document).ready(function () {
        $('.datatable').dataTable({
                
            "aLengthMenu": [[10, 25, 100, -1], [10, 25, 100, "Tous"]],
            "iDisplayLength": 10,

            "bLengthChange": true,
            "oLanguage": {
                "sZeroRecords": "<b>Aucun résultat</b>",
                "sInfo": "Affichage _START_ à _END_ sur _TOTAL_ enregistrement(s)",
            },
            "aaSorting": [],

            "sPaginationType": "bs_full",
            "fnInitComplete": function () { $('.dataTables_filter input').attr('placeholder', 'Eléments recherchés...'); $('.dataTables_filter input').css({ color: "grey" }); },
            "aoColumnDefs": [
                {
                    'bSortable': false,
                    'aTargets': ['nosort'],
                },
                {
                    "sType": "formatted-num",
                    "aTargets": ['flottant']
                },
                {
                    "sType": "date-eu",
                    "aTargets": ['date']
                }
            ]   
        });

        // Ajout libellé 'Filtre' devant la zone de saisie du filtre
        $("<span class='bdf-datatable-filtre'>Filtre </span>").insertBefore("div>label>input");

    });  


</script>
