@model Models.Actualite

<div style="@Model.styleCommentairesActualite" class="divListeCommentaires col-xs-12 noMarginPaddingHorizontal "  id="divCommentaires_@Model.Id">
		<div class="container-fluid col-xs-12 noMarginPaddingHorizontal" style="padding-bottom:0px;margin-bottom:0px;padding-left:3px;padding-right:3px;">
			<div class="col-xs-12 noMarginPaddingVertical noMarginPaddingHorizontal" id="divListeCommentaires_@Model.Id">
				@Html.Partial("~/Views/Commentaire/ListeCommentaires.cshtml",@Model)
			</div>
			<div class="col-xs-12 noMarginPaddingVertical noMarginPaddingHorizontal" id="divFormulaireCommentaire_@Model.Id">
				@Html.Partial("~/Views/Commentaire/FormulaireCommentaire.cshtml",@Model)
		      </div>
		</div>
 </div>

